PORT=5000
NODE_ENV=development

# MongoDB Atlas (para desarrollo directo sin Docker)
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/inventra?retryWrites=true&w=majority

# MongoDB local (para Docker Compose)
MONGO_USER=inventra_admin
MONGO_PASS=inventra_secret
MONGO_DB=inventra_db

JWT_SECRET=cambia_esto_por_un_secreto_seguro_en_produccion
JWT_EXPIRE=7d

# URL del frontend (para CORS seguro)
FRONTEND_URL=http://localhost:3000
